form {
  display: flex;
  justify-content: center;
  gap: .5rem;
  padding: 0 1rem;
}

form input {
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 1rem 0 1rem 0;
  padding-left: 1rem;
  outline: none;
}

form button {
  background-color: transparent;
  color: #fff;
  border: none;
}


/* .searcher {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.searcher input {
  height: 2.5rem;
  width: 15rem;
  border-radius: 2rem 0 0 2rem;
  border: none;
  padding-left: 1rem;
  outline: none;
}

.searcher button {
  height: 2.5rem;
  width: 5rem;
  background-color: #fff;
  border-radius: 0 2rem 2rem 0;
  border: none;
  cursor: pointer;
  transition: .2s background-color ease;
}

.searcher button:hover {
  background-color: var(--primary-color);
} */